<md-card md-theme="default" md-theme-watch class="question-block">
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline">
                {{::$ctrl.question.text}}
                <md-card-actions layout="row" layout-align="end center" class="plus-question">
                    <md-button ng-if="$ctrl.question.can_plus">
                        <md-tooltip md-direction="top" md-delay="500" ng-click="$ctrl.plus()">
                            Повысить рейтинг
                        </md-tooltip>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </md-button>
                    <md-button ng-if="$ctrl.question.can_plus" ng-click="$ctrl.minus()">
                        <md-tooltip md-direction="top" md-delay="500">
                            Понизить рейтинг
                        </md-tooltip>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-icon-button rating-button" aria-label="Favorite"
                               ng-if="!$ctrl.question.can_plus">
                        {{$ctrl.question.rating}}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </md-button>
                    <md-button ng-click="$ctrl.openAnswers()">
                        <md-tooltip md-direction="top" md-delay="500">
                            Открыть полностью
                        </md-tooltip>
                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                    </md-button>
                </md-card-actions>
            </div>
            <span class="md-subhead">{{::$ctrl.question.additional_text}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-if="$ctrl.question.showAnswer  && $ctrl.question.best_answer">
        <p>
            {{::$ctrl.question.best_answer.text}}
        </p>
    </md-card-content>
    <md-card-content ng-if="!$ctrl.question.best_answer">
        <p>
            Нет ответа
        </p>
    </md-card-content>
    <a href class="show-short-answer"
       ng-click="$ctrl.showShortAnswer(questionNumber)"
       ng-if="!$ctrl.question.showAnswer  && $ctrl.question.best_answer">Показать ответ</a>
    <md-card-actions layout="row" layout-align="start center" class="hashtags">
        <md-button ng-repeat="tag in $ctrl.question.hashtags">{{::tag.text}}</md-button>
    </md-card-actions>
    <span class="right-down">
        <span class="author">
            {{::$ctrl.question.user.name}}
            <i class="fa fa-user" aria-hidden="true"></i>
        </span>
        <span class="answers">
            {{::$ctrl.question.answers.length}}
            <i class="fa fa-comments-o" aria-hidden="true"></i>
        </span>
        <span class="date">{{::$ctrl.question.updated_at}}</span>
    </span>
</md-card>